In [5]:
from pandas import DataFrame
data2={'speed':['10','45','34'],
      'Temp':['34','23','25'],
      'Hum':['234','234','904']}
frame=DataFrame(data2)
frame

  speed Temp  Hum
0    10   34  234
1    45   23  234
2    34   25  904

In [6]:
frame.sort_index(axis=1)

   Hum Temp speed
0  234   34    10
1  234   23    45
2  904   25    34

In [7]:
frame.sort_index(axis=1,ascending=False)

  speed Temp  Hum
0    10   34  234
1    45   23  234
2    34   25  904

In [11]:
frame.sort_values('speed')

  speed Temp  Hum
0    10   34  234
2    34   25  904
1    45   23  234

In [9]:
frame.sort_values(by='Temp')

  speed Temp  Hum
1    45   23  234
2    34   25  904
0    10   34  234

In [10]:
frame.sum()

speed       104534
Temp        342325
Hum      234234904
dtype: object

In [12]:
frame.sum(axis=1)

0    1034234.0
1    4523234.0
2    3425904.0
dtype: float64

In [16]:
from pandas import Series
s1=Series([200,700,899],index=(['speed','temp','hum']))
s1

speed    200
temp     700
hum      899
dtype: int64

In [17]:
s1.sort_values()

speed    200
temp     700
hum      899
dtype: int64